* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    /* Color Theme Swatches in Hex */
    /*.Color-Theme-1-1-hex { color: #2D4859; }
    .Color-Theme-1-2-hex { color: #04668C; }
    .Color-Theme-1-3-hex { color: #F2C063; }
    .Color-Theme-1-4-hex { color: #F2A679; }
    .Color-Theme-1-5-hex { color: #BF8173; }*/



    font-size: 62.5%;
}
  
body {
    font-family: "DejaVu Sans Mono", monospace;
    line-height: 1;
    font-weight: 400;
    color: black;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
  
.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}
  
.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}
  
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}
  
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}
  
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}
  
.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}
  
.grid--center-v {
    align-items: center;
}



/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 18rem;
    padding: 0 4.8rem;
}
.logo {
    margin-left: 30rem;
    width: 30rem;
    display: flex;
}
/**************************/
/* NAVIGATION */
/**************************/


.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  
.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #2D4859;
    font-weight: 500;
    font-size: 2.2rem;
    transition: all 0.3s;
}
  
.main-nav-link:hover,
.main-nav-link:active {
    color: #04668C;
    background-color: #F2C063;
}
  
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #2D4859;
}
  
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    color: #04668C;
}
  
.blue-line {
    width: 100%;
    height: 9rem;
    background-color: #04668C;
    color: #fdf2e9;
}
.blue-line-h2 {
    font-size: 5rem;
    padding: 1rem 0;
}

/**************************/
/* Main */
/**************************/
.carousel--image {
    padding-left: 5rem;
}
.carousel--img {
    height: 80rem;
    width: auto;
}

.carousel-inner {
    height: 100%;
    margin-bottom: 10rem;
}
.carousel-item {
    height: 100%;
}
/**************************/
/* FOOTER */
/**************************/

.footer {
    width: 100%;
    height: 13rem;
    background-color: #04668C;
    color: #fdf2e9;
    font-size: 1.6rem;
}
.copyright {
    padding-left: 40rem;
    padding-top: 5rem;
}


/**************************/
/* NEWS */
/**************************/
.news--block {
    margin-top: 5rem;
    color: black;
}
.news {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    color: black;
}
.news--link {
    text-decoration: none;
}
.news--link:hover h2,
.news--link:active h2 {
    color: #2D4859;
}

.news--image {
    width: 50rem;
    height: 100%;
    padding-left: 2rem;
}
.news--detail_image {
    width: 800px;
    height: 450px;
    padding-left: 3rem;
}
.news--header {
    padding: 1.2rem 2.4rem;
    color: black;
}

.news--intro {
    padding: 1.2rem 2.4rem;
    color: black;
}

.news--video {
    padding-left: 3rem;
}

/**************************/
/* PROJECTS */
/**************************/

.project--detail_image {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
}
.projects--description {
    margin-top: 4rem;
    border-bottom: 2px solid black;
}
.project--header {
    font-size: 5rem;
}
.project--paragraph {
    font-size: 1.8rem;
}
.empty--space {
    height: 10rem;
    width: 100%;
}



/**************************/
/* DONATIONS */
/**************************/
.donation--block {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.donation--image {
    width: 100%;
}
.donations--detail_image {
    width: 50rem;
}

.donation--h2 {
    font-size: 5rem;
    color: black;
}
.donation--paragraph {
    margin-top: 3rem;
    font-size: 1.8rem;
    color: #000;
}
.donation--collected {
    font-size: 2.6rem;
    color: #2D4859;
}
.donation--body {
    font-size: 1.8rem;
    color: #000;
}

.border {
    height: 5rem;
    width: 100%;
    border-bottom: 1px black solid;
}
.contact-desc {
    
    border-bottom: 1px black solid;
}
.cont {
    margin-left: 25rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}