{% extends 'news/base.html' %} 
{% load static %} 


{% block content %}


{% for donations in all_donations %}
    
    <div class="container">
        <h2> {{ donations.title }} </h2>
        <div class="progress">
            <div class="progress-bar" style="width: " role="progressbar" aria-valuenow="{{donations.collected_amount}}" aria-valuemin="0" aria-valuemax={{donations.required_amount}}></div>
        </div>
        <p> {{donations.collected_amount}} / {{donations.required_amount}} UAH</p>
    </div>

{% endfor %}

{% endblock %}